@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}
:root {
    --extra-dark: #2d3440;
    --dark: #565c66;
    --neutral: #b9b9b9;
    --light:#e7e7e7;
    --extra-light: #fcfcfc;
    --white: #ffffff;
    --extra-bright-additional: #ff2f64;
    --bright-additional: #ff4a78;
    --neutral-additional: #ff7799;
    --light-additional: #feafc3;
    --extra-light-additional: #ffcbd8;
    --regular-size: 16px/22px Inter, sans-serif;
    --title-text: 900 32px/46px Inter, sans-serif;

}

body {
    font-family: "Inter", sans-serif;
    color: var(--extra-dark);
    
    font: var(--regular-size);
    margin: 0;
}
.background-wrapper{
    background-color: var(--light-additional);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul{
    list-style-type: none;
}

/**Кнопки**/
.button-white {
    display: inline-block;
    color: var(--extra-dark);
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    background-color: var(--extra-light);
    border: solid 4px var(--extra-light-additional);
    border-radius: 26px;
    padding: 12px 32px;
}
.button-white:hover{
    background-color: rgba(252, 252, 252, 0.4);
    border: 4px solid var(--extra-light);
    
}
.button-white:active{
    background-color: var(--extra-light);
    border: 2px solid var(--extra-dark);
    padding: 14px 34px;
}
.button-white:focus{
    background-color: rgba(252, 252, 252, 0.5);
    border: 2px solid var(--extra-dark);
    outline: none;
    padding: 14px 34px;
}

.button-pink {
    background-color: var(--extra-bright-additional);
    border: 4px solid var(--light-additional);
    border-radius: 26px;
    color: var(--extra-light);
    margin: 0;
    padding: 12px 32px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
.button-pink:hover{
    background-color: var(--extra-light);
    border: 4px solid var(--extra-bright-additional);
    color: var(--extra-dark);
}
.button-pink:focus{
    background-color: var(--light-additional);
    border: 2px solid var(--extra-dark);
    color: var(--extra-light);
    padding: 14px 34px;
}
.button-pink:active{
    background-color: var(--extra-bright-additional);
    border: 2px solid var(--extra-dark);
    color: var(--extra-light);
    padding: 14px 34px;
}
/*Хедер главной страницы*/

.main-header {
    display: flex;
    width: 1170px;
    margin: 0 auto;

}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--regular-size);
    flex-grow: 1;
}
.logo{
    margin: 24px 16px 24px 0;
}

.navigation-list{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.navigation-link{
    color: var(--extra-dark);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 30px;
}
.navigation-link:hover{
    background-color: rgba(252, 252, 252, 0.5); 
}
.navigation-link:focus{
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: inset 0 0 0 2px var(--extra-dark); 
    outline: none;
}
.navigation-link:active{
    background-color: var(--extra-light);
    border: none;
}

.user-list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 32px;
}

.user-item{
    position: relative;
    margin-right: 16px;
    padding: auto 16px;
    box-sizing: border-box;
}
.user-item:last-child{
    margin-right: 0;
}
.user-link {
    position: relative;
    color: var(--extra-dark);
    text-decoration: none;
    background-color: var(--extra-light-additional);
    border-radius: 30px;
    padding: 6px 16px;
    box-sizing: content-box;

}
.user-link.telephone{
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    padding: 6px 0;
    background-color: transparent;
}
.user-icon{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill: #000;
}
.user-link-text{
    padding-left: 38px;
}
.user-link-text .user-icon{
    right: auto;
    left: 16px;
    margin: auto 0;
}
.user-link:hover{
    background-color: rgba(252, 252, 252, 0.5);
}
.user-link:focus{
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: inset 0 0 0 2px var(--extra-dark);
    outline: none;
    
}
.user-link:active{
    background-color: var(--extra-light);
    outline: none;
    box-shadow: none;
}
.navigation-current,
.user-link-current{
    background-color: var(--bright-additional);
    color: var(--extra-light);

}
.navigation-current .user-icon{
    fill: var(--extra-light);
}
.user-link-current .user-icon{
    fill: var(--extra-light);
}
/**Поповер хедера**/
/**Поиск**/
.popover-search-content{
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 356px;
    padding: 24px 16px;
    background-color: var(--extra-light);
    border-radius: 4px;
    display: none;
}
.popover-open{
    display: block;
}
.popover-search-form input{
    box-sizing: border-box;
    padding: 13px 16px;
    width: 100%;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    border: 1px solid var(--neutral);
    border-radius: 4px;
}
/**Поповер корзина**/
.popover-cart{
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
    width: 441px;
    padding: 48px;
    background-color: var(--extra-light);
    border-radius: 4px;
    box-sizing: border-box;
    display: none;
}
.popover-title{
    margin: 0;
    margin-bottom: 32px;
    line-height: 30px;
}
.cart-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 28px;
}
.cart-item{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cart-item:last-child{
    padding-bottom: 32px;
    border-bottom: 1px solid var(--light);
}
.cart-item-wrapper{
    display: grid;
    grid-template-columns: 46px 82px;
    column-gap: 16px;
    row-gap: 4px;
}
.cart-item-image{
    grid-column: 1/2;
    grid-row: 1/3;
}
.cart-item-title{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--extra-dark);
}
.cart-item-price-info{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--neutral);
}
.cart-item-price{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--extra-dark);
}
.cart-item-delete{
    background-color: transparent;
    border: none;
}
.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-price-total{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--extra-dark);
}
/*слайдер*/
.main-index{
    width: 1170px;
    margin: 0 auto;
}
.main-information{
    display: flex;
    position: relative;
    height: 554px;
    margin-bottom: 80px;
}
/*Текстовые блоки слайдера*/
.main-information-text{
    margin-left: 70px;
    margin-top: 136px;
    width: 470px;

}
.ice-cream-title{
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 24px;
}
.ice-cream-description {
    font-size: 18px;
    line-height: 24px;
    margin: 0 56px 48px 0;

}

/*Картинки слайдера*/
.main-ice-cream-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
   
}
.image-slider-big{
    position: relative;
    background-image: url("../images/slider-background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.slider-button-wrapper{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.slider-button{
    position: relative;
    background-color: rgba(252, 252, 252, 0.3);
    margin: 0;
    padding: 0;
    border: 2px solid var(--extra-light);
    height: 38px;
    width: 38px;
    border-radius: 26px;
}
.slider-svg{
    position: absolute;
    top: 50%;
    left: 50%;
    fill: var(--extra-light);
    transform: translate(-50%, -50%);

}
.slider-button:hover{
    background-color: var(--extra-light);
}
.slider-button:hover svg{
    fill: var(--extra-dark);
}
.slider-button:focus{
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid var(--extra-dark);
}
.slider-button:focus svg{
    fill: var(--extra-dark);
}
.slider-button:active{
    background-color: rgba(252, 252, 252, 0.5);
    border: 2px solid rgba(252, 252, 252, 0.5);
}
.slider-button:active svg{
    fill: var(--extra-dark);
}
.image-slider{
    margin: 21px 22px 26px 22px;
}
.image-slider-additional{

    background-image: url("../images/slider-background-small.png");
    background-repeat: no-repeat;
    background-position: center;
}
.image-slider-small{
    margin: 0 17px;
}
/**Слайдер хлебные крошки и соцсети**/
.contacts{
    position: absolute;
    bottom:0;
    right: 0;

}
.contacts-list{
    display: flex;
    margin: 0;
    padding: 0;
}
.contacts-item{
    margin-right: 12px;

}
.contacts-item:last-child{
    margin-right: 0;
}
.contacts-link{
    display: block;
    width: 24px;
    height: 24px;
    box-shadow: 0px 0px 0 2px rgba(252, 252, 252, 0.3);
    border-radius: 24px;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
}
.contacts-link-tg{
    fill: var(--extra-light);
}
.contacts-link-tg:hover{
    background-color: var(--extra-dark);

}
.contacts-link-tg:focus{
    background-color: var(--extra-dark);
    box-shadow: 0px 0px 0 2px var(--extra-dark);

}
.contacts-link-tg:active{
    opacity: 0.5;
    background-color: var(--extra-dark);
    box-shadow: 0px 0px 0 2px var(--extra-dark);
}
.contacts-link-vk{
    fill: var(--extra-light);
}
.contacts-link-vk:hover{
    background-color: var(--extra-dark);

}
.contacts-link-vk:focus{
    background-color: var(--extra-dark);
    box-shadow: 0px 0px 0 2px var(--extra-dark);

}
.contacts-link-vk:active{
    opacity: 0.5;
    background-color: var(--extra-dark);
    box-shadow: 0px 0px 0 2px var(--extra-dark);
}
.contacts-link-yt{
    fill: var(--extra-light);
}
.contacts-link-yt:hover{
    background-color: var(--extra-dark);

}
.contacts-link-yt:focus{
    background-color: var(--extra-dark);
    box-shadow: 0px 0px 0 2px var(--extra-dark);

}
.contacts-link-yt:active{
    opacity: 0.5;
    background-color: var(--extra-dark);
    box-shadow: 0px 0px 0 2px var(--extra-dark);
}

/**Банеры**/
.gift{
    margin-bottom: 80px;
}
.gift-title {
    font: var(--title-text);
    margin: 0 auto 55px;
    text-align: center;
    max-width: 470px;

}
.gift-list{
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.gift-item {
    position: relative;
    width: 570px;
    background-color: var(--neutral-additional);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 328px auto;
    row-gap: 28px;
    column-gap: 0;
    padding-left: 36px;
    box-sizing: border-box;
}
.gift-subtitle {
    grid-column: 1/2;
    grid-row: 1/2;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-top: 36px;
}
.gift-discription{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
}
.receive-gift {
    max-width: max-content;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-bottom: 36px;
}
.gift-image{
    position: absolute;
    right: 0;
    bottom: 0;

}
/**Лучшие вкусы мороженого**/
.bestseller{
    margin-bottom: 80px;
}
.bestseller-title {
    font: var(--title-text);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 56px;
}
.bestseller-list{
    margin: 0;
    padding: 0;
    display: flex;
}
.bestseller-item {
    width: 270px;
    margin-right: 30px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--extra-light);
    box-sizing: border-box;
    border-radius: 8px;
}
.bestseller-item:nth-child(4n+4){
    margin-right: 0;
}
.bestseller-image {
    border-radius: 150px;
    margin: -51px auto 0;
}
.bestseller-taste {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}
.bestseller-description{
    margin-bottom: 16px;
    text-align: center;

}
.bestseller-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.bestseller-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.buy-bestseller {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid var(--extra-bright-additional) ;
    border-radius: 50%;
    background-color: var(--extra-bright-additional);

}
.buy-bestseller svg{
    position: absolute;
    fill: white;
    top: 25%;
    left: 25%;
}
.buy-bestseller:hover{
    background-color: rgba(252, 252, 252, 0.3);
}
.buy-bestseller:hover svg{
    fill: black;
}

.buy-bestseller:focus{
    background-color: var(--extra-bright-additional);
    border: 2px solid var(--extra-dark);
}
.buy-bestseller:focus svg{
    fill: white;
}
.buy-bestseller:active{
    background-color: var(--extra-light-additional);
}
.buy-bestseller:active svg{
    fill: black;
}

/**Преимущества**/
.advantages {
    background-image: url("../images/advantages/waffle-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 80px;

}
.advantages-background {
    background-color: var(--white);
    padding: 56px 0;
    border-radius: 16px;

}
.advantages-title {
    width: 995px;
    font: var(--title-text);
    font-weight: 700;
    text-align: center;
    vertical-align: top;
    margin: 0 auto 56px;

}
.advantages-list{
    margin: 0 40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}
.advantages-item{
    position: relative;
    width: 505.5px;
    padding-left: 64px;
    box-sizing: border-box;
}
.advantages-icon{
    position: absolute;
    top: 0;
    left: 0;
}
.advantages-description{
    margin: 0;
}
/**Новости и подписка**/
.news-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}
.shop-news {
    width: 570px;
    background-image: url("../images/news-picture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
}
.shop-news-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #565c66;
    margin: 0;
    margin-bottom: 12px;
    max-width: 200px;
}
.shop-news-link {
    display: block;
    width: 303px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-decoration: none;
    color: var(--extra-dark);
}
.mailing-list {
    width: 570px;
    padding: 6px;
    background-image: url("../images/mail-background.png");
    background-position: center;
    border-radius: 16px;
    box-sizing: border-box;

}
.mailing-list-background {
    background-color: var(--white);
    background-position: center center;
    border-radius: 16px;
    padding: 26px;
    height: 100%;
    box-sizing: border-box;
}
.mailing-list-discription{
    margin: 0;
    margin-bottom: 42px;
}
.mailing-form{
    display: flex;
}
.mailing-form-input{
    padding: 14px auto 14px 16px;
    border: 1px solid var(--neutral);
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 14px;
    flex-grow: 1;
    padding-left: 16px;
    border: 1px solid var(--neutral);
    border-radius: 4px;
    color: var(--extra-dark);
}
.mailing-form-input:hover{
    border: 1px solid var(--extra-dark);
}
.mailing-form-input:focus{
    outline: 2px solid var(--extra-dark);
}
.mailing-form-input:invalid{
    border: 1px solid #ea5454;
}
.mailing-form-input:focus:invalid{
    outline: 2px solid #ea5454;
}
.mailing-form-input:disabled{
    border: 1px solid var(--neutral);
    background-color: var(--light);
}
.mailing-form-input:disabled:hover{
    border: 1px solid var(--neutral);
    background-color: var(--light);


}
/**Доставка**/
.delivery-background {
    background-image: url("../images/delivery-background-image.jpg");
    background-size: cover;
    transform: scale(-1, 1);
    background-position: left 30% top 50%;
    margin-bottom: 80px;
    min-height: 534px;
    border-radius: 16px;
}
.delivery{
    display: flex;
    transform: scale(-1, 1);

}
.delivery-text-wrapper{
    margin: 167px 135px 50px 100px;
    
    
}
.delivery-title {
    font: var(--title-text);
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
    max-width: 356px;
}
.delivery-description{
    margin: 0;
    max-width: 371px;
}
.delivery-information {
    width: 500px;
    margin: 64px 64px 64px 0;
    padding: 40px;
    background-color: var(--white);
    border-radius: 8px;
    box-sizing: border-box;
}
.delivery-information-description{
    margin: 0;
    margin-bottom: 32px;
    max-width: 360px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--dark);
}
.delivery-form-wrapper{

}
.form-delivery-information{
    display: flex;
    gap: 20px 16px;
    flex-wrap: wrap;
}

.delivery-information-date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 117px;
}

.form-label{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--extra-dark);
    margin-bottom: 8px;
}
.delivery-input{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
    
.delivery-information-telephone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.delivery-information-address{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
}
.delivery-input{
    display: block;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color:#b9b9b9;
    padding: 13px 15px;
    border: 1px solid var(--neutral);
    border-radius: 4px;
}
.confirm-delivery{
    display: block;
    margin: 8px auto 0;
}

/**Контакты**/
.contacts-background{
    height: 492px;
    box-sizing: border-box;
    background-image: url("../images/footer-3-ice-cream.jpg");
    background-size: cover;
    background-position: center;
    padding: 64px;
    border-radius: 16px;
    
}
.main-footer-contacts {
    background-color: var(--extra-light);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 343px;
    box-sizing: border-box;
    border-radius: 8px;
}
.main-footer-description{
    margin: 0;
    max-width: 180px;
}
.main-footer-address-link{
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    max-width: 265px;
}
.main-footer-telephone{
    margin: 0;
    padding: 0;
}
.main-footer-schedule{
    margin: 0;
    margin-top: -12px;
    margin-bottom: 20px;
}
.form-label {
    font-weight: 700;
    line-height: 20px;
}
.confirm-delivery {
    border: 4px solid var(--light-additional);
    font-weight: 700;
    line-height: 20px;
    color: var(--extra-light);
    background-color: var(--extra-bright-additional);
    border-radius: 26px;
    
}
label.required::after {
    color: var(--extra-dark);
    content:  url("../images/advantages/required-item.svg");
}

.main-footer-address-link,
.main-footer-telephone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: var(--extra-dark);
}
.main-footer-schedule {
    font-size: 14px;
    line-height: 20px;
}
.footer-button {
    border: 4px solid var(--light-additional);
    font-weight: 700;
    line-height: 20px;
    color: var(--extra-light);
    background-color: var(--extra-bright-additional);
    border-radius: 26px;
}
/**Футер**/
.main-footer{
    display: flex;
    padding-top: 44px;
    width: 1170px;
    margin: 0 auto;
}
/**Контакты футер**/
.main-footer-contacts{
    width: 343px;
}
.contacts-footer{
    margin: 0 299px 0 4px;
}
.contacts-footer-list{
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin: 0;
    padding: 0;
}
/**Ссылки футер**/
.footer-link{
    width: 356px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content;
    row-gap: 8px;
    column-gap: 24px;
    position: relative;
    padding-left: 24px;
}

.footer-link a{
    text-decoration: none;
    color: var(--extra-dark);
    font-size: 14px;
    line-height: 20px;
}
.footer-link-supplier{
    font-weight: 700;
}
.footer-link-supplier::before{
    content: url("../images/heart-icon.svg");
    margin-right: 8px;
    position: absolute;
    top: 2px;
    left: 0px
}
/**Авторские права**/
.copyright{
    margin-right: 14px;
    display: flex;
    flex-direction: column;
}
.copyright-logo{
    margin-bottom: 14px;

}
.copyright-text{
    width: max-content;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}
.htmlacademy-link{
    color: var(--extra-dark);
    text-decoration: none;
    border-bottom: 1px solid var(--extra-dark);
}
/**Каталог??**/
/**Хлебные крошки**/
.catalog-content{
    width: 1170px;
    margin: 0 auto;
}
.navigation-link-current{
    background-color: var(--extra-bright-additional);
    border-radius: 30px;
    color: var(--extra-light);
}
.breadcrumbs-wrapper{
    margin-top: 32px;
}
.breadcrumbs{
    display: flex;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}
.catalog-title{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    margin: 0;
}
/**Фильтр**/
.catalog-filter {
    font-size: 14px;
    line-height: 20px;
    width: 823px;
    height: 148px;
    margin-bottom: 95px;
}
.filter-wrapper{
    display: flex;
}
.filter-select {
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}
/**Жирность**/
.fat-filter-title{
    margin: 0;
    margin-bottom: 8px;
}
.fat-filter-list{
    display: flex;
    margin: 0;
    padding: 0;
}
.catalog-filter-list{
    display: flex;
}
.pagination-link {
    line-height: 20px;
    text-decoration: none;
    color: var(--extra-dark);
}
.pagination-current {
    background-color: #fcfcfc;
    border-radius: 76px;
}
/**Список продуктов магазина**/
.catalog-product-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catalog-product-list .bestseller-item{
    margin-bottom: 91px;
}
/**Пагинация**/
.catalog-pagination{
    height: 126px;
    margin-top: -85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination-list{
    display: flex;
}